/*CONTAINER, PÁGINA PRINCIPAL*/

#bloco{
    background-color: aliceblue;
    max-width: 800px;
    min-width: 280px;
    padding: 30px;
    margin: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  #corpo{
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  h1{
    color: #000000;
    margin: 0px;
}

p{
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

#subtitulo{
    font-size: 18px;
}

.fotos{
    max-width: 90%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 10px;
}

.centralizar{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.legenda{
    font-size: 12px;
    color: gray;
}
